<html lang="en">
<%- include('./partials/header.ejs')%>
<body>
    <div class="div-content">

        
        <h2>All Questions</h2>
        <br>
        <% if (Questions.length > 0) { %>
            <% Questions.forEach(Question => { %>
                <a href="/questions/<%=question._id%>">
                <!-- <h3 class="title"><%= question.name %></h3> -->
                <p class="snippet"><%= Question.name %></p>
                </a>
                <%}) %>
                <% } %>
            <!-- }) -->


        <!-- } -->

    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>