<html lang="en">
<%- include('./partials/header.ejs')%>
<body>
    <div class="div-content">

        
        <h2>All Topics</h2>
        <br>
        <% if (Topics.length > 0) { %>
            <% Topics.forEach(Topic => { %>
                <a href="/topics/<%=topic._id%>">
                <!-- <h3 class="title"><%= topic.name %></h3> -->
                <p class="snippet"><%= Topic.name %></p>
                </a>
                <%}) %>
                <% } %>
            <!-- }) -->


        <!-- } -->

    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>